:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);
}

h1, h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--gris2);
}
h1 span,
h2 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
    font-size: 2.4rem;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--gris2);
}

/** Header **/
.header {
    display: flex;
    justify-content: space-between;
    background-color: var( --gris2 );
    padding: 4rem;
}
.user-name {
    color: var( --blanco );
    font-size: 2.2rem;
    margin: 0;
}
.user-name span {
    font-weight: 900;
}
.nav-principal a {
    color: var( --blanco );
    text-decoration: none;
}
.nav-principal a:first-of-type {
    margin-right: 2rem;
}

/** SideBar */
aside  {
    padding: 3rem;
}
.projects-container {
    margin-top: 10rem;
}
.tasks-container {
  padding: 4rem;
}
.button-container {
    max-width: 600px;
    margin: 0 auto;
}

@media ( min-width: 768px ) {
    .app-container {
        display: flex;
        min-height: 100vh;
    }

    aside {
        background-color: var( --blanco );
        flex: 0 0 300px;
    }

    main {
        flex: 1;
    }
}

/** Form */
.login-form,
.signin-form {
    background-color: var(--gris2);
    height: 100vh;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-project-form {
    margin-top: 6rem;
}
.new-project-form .input-text {
    border-bottom: 1px solid var( --gris2 );
    border-radius: 0;
    background-color: var( --gris1 );
}
.new-project-form .input-text::placeholder{
    color: var( --gris2 );
}

.input-text {
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    margin: 1rem .3rem;
    flex: 1;
    width: 100%;
  }

.form-container {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: var(--blanco);
    border-radius: 1rem;
}

.new-and-edit-task-container {
    background-color: var( --gris3 );
    padding: 4rem;
}
.new-and-edit-task-container form {
    max-width: 600px;
    margin: 0 auto;
}

.form-field {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.form-field:last-of-type {
    margin: 0;
}
.form-field label {
    flex: 0 0 150px;
    font-family: var( --textFont );
}
.form-field input[type="password"],
.form-field input[type="email"], 
.form-field input[type="text"] {
    border: 1px solid #e1e1e1;
    margin: 1rem .3rem;
    padding: 1rem;
    flex: 1;
}

/** Buttons */
.btn {
    margin: 1rem .3rem;
    font-family: var(--headingFont);
    padding: 1.2rem;
    font-size: 1.4;
    font-weight: 400;
    border-radius: .5rem;
    border: none;
    transition: background-color .3s ease;
}
.btn:hover {
    cursor: pointer;
}
.btn-primary {
    background-color: var( --gris2 );
    color: var( --blanco );
}
.btn-primary:hover {
    background: var( --gris3 );
}
.btn-secondary {
    background-color: var( --gris2 );
    color: var( --blanco );
}
.btn-secondary:hover {
    background-color: var( --gris1 );
    color: var( --gris2 );
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-submit:hover {
    background-color: var( --gris2 );
}
.btn-blank {
    display: block;
    background-color: transparent;
}
.btn-completed,
.btn-correct {
  background-color: rgba(154, 252, 154, .3);
  color: var(--gris3);
}
.btn-uncompleted {
  background-color: rgba(255, 178, 178, .4);
  color: var(--gris3);
}


/** Links */
.link {
    margin-top: 2rem;
    display: block;
    opacity: .7;
}

/** List */
.project-list li a {
    font-size: 1.4rem;
    color: var(--gris2);
    line-height: 1.5;
    font-weight: 300;
}
.task {
    display: flex;
    justify-content: space-between;
    background-color: var(--blanco);
    padding: .2rem 1.2rem;
    align-items: center;
    margin: 1rem 0;
    border-radius: .5rem; 
}
.task p {
    flex: 1;
}
.task-list {
    max-width: 600px;
    margin: 0 auto;
}

/** Error */
.error {
    max-width: 600px;
    margin: 2rem auto 0 auto;
    background-color: rgb(170, 0, 0);
    color: var(--blanco);  
}

/** Message */
.message {
    font-weight: 900;
    font-family: var(--textFont);
    font-size: 1rem;
    padding: 1.2rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
}
.message {
    text-align: center;
    font-size: 1.6rem;
    border-radius: 0;
}
.message:hover {
    cursor: default;
}

/** Shadows */
.shadow-dark {
    -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
    box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
}